.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background: linear-gradient(90deg, #b42c9d, #4f95db);
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(253, 253, 253);
}

.heart {
  position: absolute; 
  z-index: 2;
}

.fadeIn {
  opacity: 0;
  transform: translateX(-100%);
  animation: fadeInAnimation 1s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.explode {
  animation: explodeAnimation 0.5s ease-out forwards;
}

@keyframes explodeAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}


.imageContainer {
  position: relative;
  display: inline-block;
  z-index: 1;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

.message {
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
  min-height: 50px;
  max-height: 50px;
  opacity: 0;
  animation: justFadeAnimation 1s ease-in-out forwards;
}

@keyframes justFadeAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}